# python assignment-1 Variable and Data types

Q1. Create two variables, a and b, and swap their values without using a temporary variable.

In [4]:
a=12
b=15
a,b=b,a
print('b equals:',a)
print('a equals:',b)

b equals: 15
a equals: 12

Q2. Ask the user for an integer and convert it to a string. Then, print the data type of the converted variable.

In [4]:
m=input("Enter any integer:")
print(m,type(m))

Enter any integer:25
25 <class 'str'>

Q3. Make a list of numbers and add a new number to the end of the list. Then, remove the first element and print the modified list.

In [7]:
my_list=["nagpur","pune", "Banglore","jalgoan","delhi","lonawala","vrundavan","darjleeng","kerla"]
print(my_list)
my_list.append("sikkim")
print(my_list)
my_list.remove("nagpur")
print("modified list",my_list)

['nagpur', 'pune', 'Banglore', 'jalgoan', 'delhi', 'lonawala', 'vrundavan', 'darjleeng', 'kerla']
['nagpur', 'pune', 'Banglore', 'jalgoan', 'delhi', 'lonawala', 'vrundavan', 'darjleeng', 'kerla', 'sikkim']
modified list ['pune', 'Banglore', 'jalgoan', 'delhi', 'lonawala', 'vrundavan', 'darjleeng', 'kerla', 'sikkim']

Q4. Assume a program that asks the user for their name and age. Then, use string
formatting to display a message like "Hello, [Name]! You are [Age] years old."

In [8]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
print("Hello",name ,"You are",age,"Years old")

Enter your name:megha
Enter your age:23
Hello megha You are 23 Years old

Q5. Create variables for two numbers and perform addition, subtraction, multiplication,
and division operations. Print the results.

In [5]:
a=5
b=6
addition=a+b
print(addition)
subtraction=a-b
print(subtraction)
multiplication=a*b
print(multiplication)
division=a/b
print(division)

11
-1
30
0.8333333333333334

Q6. Define a constant variable in Python and try to modify its value. Explain whether it's
possible or not.

In [23]:
m=25
print(m)
m=29
print(m)
## YES IT IS POSSIBLE TO MODIFY CONSTANT VARIABLE VALUE IN PYTHON

25
29

Q7. Write a program that checks the data type of a variable and prints a message based
on whether it's an integer, float, string, or another type.

In [33]:
x=int(input("Enter any character:"))
print(x,type(x))
x=input("Enter any character:")
print(x,type(x))
x=complex(input("Enter any character:"))
print(x,type(x))
x=float(input("Enter any character:"))
print(x,type(x))

Enter any character:4
4 <class 'int'>
Enter any character:m
m <class 'str'>
Enter any character:4
(4+0j) <class 'complex'>
Enter any character:4
4.0 <class 'float'>

Q8. Generate a list of squares of numbers from 1 to 10 using list comprehension.

In [11]:
list=[1,2,3,4,5,6,7,8,9,10]
Squared_list=[number**2 for number in list]
print(Squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q9. Create a program that attempts to convert a string to an integer. Handle any potential
errors and print an error message.

In [3]:
M=input("Enter any character :")
R=int(M)
print(R)

Enter any character :m

ValueError: invalid literal for int() with base 10: 'm'

Q10. Write a program with variables that follow both the snake_case and CamelCase
naming conventions. Print a message explaining the conventions.

In [ ]:
snake_case=my_name_is_megha ##ALL WORDS IN LOWER CASE AND EACH WORD SEPERATED WITH UNDERSCORE.
CamelCase=ILoveCat ##ALL WORD START WITH CAPITAL LETTER AND NOT SEPERATED WITH UNDERSCORE.

# Python Assignment-2 Input Methods

Q1. Write a program that prints the user to enter their name, age, and city. Then, print out
a message that includes this information.

In [44]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
city=input("Enter your city:")
print("Hello",name ,"You are",age,"Years old &","your city is",city)

Enter your name: Megha
Enter your age: 23
Enter your city:Nagpur
Hello  Megha You are 23 Years old & your city is Nagpur

Q2. Create a simple calculator program that takes two numbers and an operation (+, -, *,
/) as input from the user and displays the result

In [4]:
num1 =int(input("Enter first number :"))
num2 =int(input("Enter second number :"))
operator=input("Enter any operator:(+,-,*,/):")
if operator=="+":
    print(num1+num2)
elif operator=="-":
    print(num1-num2)
elif operator=="*":
    print(num1*num2)
elif operator=="/":
    print(num1/num2)

Enter first number :25
Enter second number :29
Enter any operator:(+,-,*,/):+
54

Q3. Define a program that asks the user to enter a number and determines whether it's
even or odd.

In [53]:
m= int(input("Enter any number:"))
if m%2==0:
    print("it is a even number ")
else:
    print("it is odd number ")

Enter any number:3
it is odd number

Q4. Make a program that allows the user to convert between Celsius and Fahrenheit
temperatures. Ask the user for the temperature value and the scale they are using.

In [56]:
celcius=eval(input("Enter any temp:"))
fahrenit=(celcius*(9/5)+32)
print("temperature in fahrenit ",fahrenit)

Enter any temp:6
temperature in fahrenit  42.8

Q5. Write a program that prompts the user to create a password. Check if the password
meets certain criteria (e.g., minimum length, containing both letters and numbers)

In [23]:
password=input("Enter your password:")
if len(password)==8 and any(char.isdigit() for char in password) and any(char.isalpha() for char in password):
    print("Password is created")
else:
    print(" Invalid Password !! ")

Enter your password:megha@25
Password is created

Q6. Implement a number guessing game where the computer generates a random
number, and the user has to guess it. Provide feedback on whether the guess is too
high or too low.

In [1]:
import random
n=random.randint(1,10)
print(n)
num=int(input("Enter your guesss:"))
if num<n:
    print("Guess is low")
elif num==n:
    print("Guess is correct")
else:
    print(" your Guess is to high")

7
Enter your guesss:7
Guess is correct

Q7. Assume a program that asks the user for their height and weight, then calculates and
displays their Body Mass Index.

In [2]:
height=eval(input("Enter your height in meter :"))
weight=eval(input("Enter your weight in kilogram :"))
BMI=weight/(height*height)
print("BODY MASS MATRIX",BMI)

Enter your height in meter :1.234
Enter your weight in kilogram :56
BODY MASS MATRIX 36.77542560988103

Q8. Ask the user to enter a positive integer and calculate its factorial (e.g., 5! = 5 x 4 x 3 x
2 x 1 = 120).

In [5]:
f= eval(input("Enter any number:"))
factorial=1
if f>=1:
    for i in range(1,f+1):
        factorial =factorial*i
        print("factorial of given number is:",factorial)

Enter any number:5
factorial of given number is: 1
factorial of given number is: 2
factorial of given number is: 6
factorial of given number is: 24
factorial of given number is: 120

Q9. Prompt the user to input a string and then display the reverse of that string.

In [9]:
str="megha"
print(str)
str[::-1]

megha

'ahgem'

Q10. Find a program that asks the user for a number and generates the first "n" numbers
in the Fibonacci sequence

In [7]:
num=int(input("Enter number:"))
a=0
b=1
c=0
for i in range(num):
    print(c,end=" ")
    a=b
    b=c
    c=a+b

Enter number:10
0 1 1 2 3 5 8 13 21 34

# Python Assignment-3 Output Methods

Q1. Python program that prints "Hello, World!" to the console.

In [10]:
print("HELLO WORLD")

HELLO WORLD

Q2. Create a program that takes a number as input and prints its multiplication table from
1 to 10.

In [12]:
num=int(input("Enter any number"))
print("multiplication table of ",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter any number6
multiplication table of  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Q3. Write a program that counts down from a specified number to 1 and then prints
"Blast-off!"

In [14]:
for i in range(7,0,-1):
    print(i)
print("BLAST OFF")

7
6
5
4
3
2
1
BLAST OFF

Q4. Generate a program that prints a pyramid of stars, where the user provides the
number of rows for the pyramid.

In [15]:
rows=int(input("Enter the pyramid rows you want="))
print("pyramid pattern")
for i in range(0,rows):
    for j in range (0,rows -i-1):
        print(end=" ")
    for k in range(0, i+1):
        print("*", end=" ")
    print()

Enter the pyramid rows you want=3
pyramid pattern
  *
 * *
* * *

Q5. Ask the user for a number "n" and print a pattern of numbers from 1 to n in the
following way:
1
12
123
1234

In [17]:
rows=int(input("Enter the pyramid rows you want="))
print("print pattern")
for i in range(0,rows):
    for j in range( i+1):
        print(j+1, end=" ")
    print()

Enter the pyramid rows you want=4
print pattern
1
1 2
1 2 3
1 2 3 4

Q6. Make a program that calculates and prints the sum of all numbers from 1 to a
user-specified number.

In [1]:
input=int(input("Enter any number:"))
sum=0
for value in range(1, input+1):
    sum = sum+value
    print(sum)

Enter any number:6
1
3
6
10
15
21

Q7. Ask the user to enter a character (e.g., '*') and a number. Print a square of that
character with the given number of rows and columns

In [1]:
name=input("Enter any name:")
number=int(input("Enter numbers of rows and columns:"))
for i in range(number):
    for j in range(number):
        print(name,end=" ")
    print()

Enter any name:megha
Enter numbers of rows and columns:4
megha megha megha megha
megha megha megha megha
megha megha megha megha
megha megha megha megha

Q8. Write a program that asks the user to enter a positive integer and then prints the
factorial of that number

In [2]:
input= eval(input("Enter any number:"))
factorial=1
if input>=1:
    for i in range(1,input+1):
        factorial =factorial*i
        print("factorial of given number is:",factorial)

Enter any number:4
factorial of given number is: 1
factorial of given number is: 2
factorial of given number is: 6
factorial of given number is: 24

Q9. BMI calculator program (as in a previous question) and print the user's BMI category
(e.g., underweight, normal, overweight, obese).

In [3]:
height=eval(input("Enter your height in meter :"))
weight=eval(input("Enter your weight in kilogram :"))
BMI=weight/(height*height)
print(BMI)
if BMI<19.5:
    print("You are underweight:")
elif BMI<25:
    print("You are normal:") 
elif BMI<50:
    print("You are overweight:") 
elif BMI<40:
    print("You are obese:")
else:
    print("You are perfectly fit")

Enter your height in meter :45
Enter your weight in kilogram :56
0.027654320987654323
You are underweight:

Q10. Ask the user to input the principal amount, rate of interest, and time in years.
Calculate and print the simple interest.

In [2]:
p=int(input("Enter the principal:"))
r=int(input("Enter the rate:"))
y=int(input("Enter the no of years:"))
si=(p*r*y)*100
print("simple interest=",si)

Enter the principal:400
Enter the rate:5
Enter the no of years:2
simple interest= 400000

# Python Assignment-4 String

Q1. Write a Python program that takes a string as input and returns the reverse of that
string

In [1]:
my_string=input("Enter any string:")
print(my_string[::-1])

Enter any string:i love cat
tac evol i

Q2. Make a function that checks if a given string is a palindrome (reads the same
forwards and backwards).

In [5]:
p=input("Enter any string:")
if p==p[::-1]:
    print("IT IS PALLINDROME")
else:
    print("IT IS NOT PALLINDROME")

Enter any string:level
IT IS PALLINDROME

Q3. Write a function to count the number of vowels (a, e, i, o, u) in a given string.

In [6]:
m=input("Enter any string:")
vowels=0
for i in m:
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        vowels=vowels+1
print("Total no of vowels in the string:")
print(vowels)

Enter any string:level
Total no of vowels in the string:
2

Q4. Given two strings, write a program to concatenate them without using the + operator

In [2]:
str1=input("Enter fisrt string:")
str2=input("Enter second string:")
concat="".join([str1,str2])
print("THE CONCAT STRING IS:",concat)

Enter fisrt string:nagpur
Enter second string:pune
THE CONCAT STRING IS: nagpurpune

Q5. Given a string, write a program to extract a substring between a specified start and
end index

In [16]:
my_string="megha"
len(my_string)
print(my_string)
print(my_string[1::2])

megha
eh

Q6. Make a function that checks if two given strings are anagrams (contain the same
characters in a different order).

In [20]:
m= input("Enter first string:")
n= input("Enter second string:")
if (sorted(m)==sorted(n)):
    print("both string are anagrams ")
else:
    print("both string are not anagrams  ")

Enter first string:cat
Enter second string:act
both string are anagrams

Q7. Find a function that calculates the frequency of each character in a string and returns
the results as a dictionary.

In [4]:
string= "cat_is_cute"
for i in string:
    frequency=string.count(i)
    print(str(i),":", str(frequency),end=" , ")

c : 2 , a : 1 , t : 2 , _ : 2 , i : 1 , s : 1 , _ : 2 , c : 2 , u : 1 , t : 2 , e : 1 ,

Q8. Write a program to remove duplicate characters from a string and return the string
without duplicates.

In [10]:
string="payal"
new_str=" "
for i in string:
    if i not in new_str:
        new_str=new_str+i
print(new_str)

 payl

Q9. Assume a function to convert a given string into a title case, where the first letter of
each word is capitalized.

In [1]:
my_string="i love cat"
my_string.title()

'I Love Cat'

# Python assignment-5 list

Q1. Create a list of your favorite fruits. Add a new fruit to the list, remove one fruit, and
print the modified list.

In [24]:
my_list=["mango","custardapple" ,"chikuu" ,"guava" ,"banana"]
print(my_list)
my_list.append("kiwi")
print(my_list)
my_list.remove("guava")
print("modified_list:",my_list)

['mango', 'custardapple', 'chikuu', 'guava', 'banana']
['mango', 'custardapple', 'chikuu', 'guava', 'banana', 'kiwi']
modified_list: ['mango', 'custardapple', 'chikuu', 'banana', 'kiwi']

Q2. Write a program that calculates the sum of all the numbers in a given list of integers.

In [15]:
list=[1,2,3,4,5,6,7]
sum=0
for i in list:
    sum=sum+i
print(" sum of elements in list:",sum)

 sum of elements in list: 28

Q3. Generate a list of the squares of the numbers from 1 to 10 using list comprehension.

In [11]:
list=[1,2,3,4,5,6,7,8,9,10]
squared_list=[number**2 for number in list]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q4. Make a list of numbers and use list comprehension to create a new list with only the
even numbers

In [13]:
list=[1,2,3,4,5,6,7,8]
evenlist=[]
for i in list:
    if i%2==0:
        evenlist.append(i)
print("even numbers:", evenlist)

even numbers: [2, 4, 6, 8]

Q5. Write a program that reverses a given list without using the reverse() method or
slicing.

In [18]:
list=[ "nagpur" ,"bhusawal", "delhi", "jalgoan"]  # BY USING INSERT FUNCTION WE CAN REVERSE THE LIST
print(list)
Reversed_list=[]
for i in list:
    Reversed_list.insert(0,i)
print(" Reversed_list:", Reversed_list)

['nagpur', 'bhusawal', 'delhi', 'jalgoan']
 Reversed_list: ['jalgoan', 'delhi', 'bhusawal', 'nagpur']

Q6.Make a list of words (strings) and sort them in alphabetical order. Print both the
original and sorted lists.

In [21]:
list=[ "nagpur" ,"bhusawal", "delhi", "jalgoan"]
print("original_list",list)
sorted_list=sorted(list)
print("sorted_list",sorted_list)

original_list ['nagpur', 'bhusawal', 'delhi', 'jalgoan']
sorted_list ['bhusawal', 'delhi', 'jalgoan', 'nagpur']

Q7. Combine two lists into a single list without using the + operator. Print the merged list.

In [26]:
list1=[1,2,3,4,5]     ## BY USING EXTEND FUNCTION WE CAN MERGE OR COMBINE LIST
list2=[2,3,4,5,6]
list1.extend(list2)
print("Merged_list:",list1)

Merged_list: [1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

Q8. Given a list and a specific element, write a program to remove all occurrences of that
element from the list.

In [1]:
n=int(input("Enter total no.of.elements you want to enter in list:"))
m=[]
for i in range(n):
    ele=input("Enter elemnts:")
    m.append(ele)
print("My list is:",m)
non_duplicate_value=set(m)
print("non_duplicate_value is:",non_duplicate_value)

Enter total no.of.elements you want to enter in list:3
Enter elemnts:megha
Enter elemnts:megha
Enter elemnts:25
My list is: ['megha', 'megha', '25']
non_duplicate_value is: {'25', 'megha'}

Q9. Create two lists of numbers and find the common elements between them. Print the
result.

In [27]:
list1=[1,2,3,4,5]     
list2=[2,3,4,5,6]
RESULT=[item for item in list1 if item in list2]
print(RESULT)

[2, 3, 4, 5]

Q10. Take a list of words and print the first three and last three words without changing
the original list.

In [30]:
list=["F","A","N","D","J","M","A","N"]
print("original_list",list)
print("First three words are",list[:3],"Last three words are",list[-3:])

original_list ['F', 'A', 'N', 'D', 'J', 'M', 'A', 'N']
First three words are ['F', 'A', 'N'] Last three words are ['M', 'A', 'N']

# Python assignment-6 Tuple

Q1. Create a tuple containing the names of your favorite colors.

In [35]:
tuple=( "black" ,"white", "peach", "pink", "red")
tuple

('black', 'white', 'peach', 'pink', 'red')

Q2. Define a tuple with the days of the week. Write a program that asks the user for a
number (1 to 7) and prints the corresponding day of the week

In [39]:
tuple=(1,2,3,4,5,6,7)
number=int(input("Enter any number from 1 to 7 :"))
if number==1:
    print(" Hello its a monday")
elif number==2:
    print(" Hello its a tuesday")   
elif number==3:
    print(" Hello its a wednesday")   
elif number==4:
    print(" Hello its a thursday")   
elif number==5:
    print(" Hello its a friday")   
elif number==6:
    print(" Hello its a saturday")  
elif number==7:
    print(" Hello its a sunday")  
else:
    print(" invalid input")

Enter any number from 1 to 7 :6
 Hello its a saturday

Q3. Make a tuple with the coordinates (x, y). Write a program that unpacks the tuple and
prints the values of x and y separately.

In [1]:
tuple=((1,2),(3,4),(5,6))
y=dict(tuple)
print(y)
print()
print("x values are:",y.keys())
print()
print("y values are:",y.values())

{1: 2, 3: 4, 5: 6}

x values are: dict_keys([1, 3, 5])

y values are: dict_values([2, 4, 6])

Q4. Introduce two tuples and concatenate them to form a new tuple. Print the resulting
tuple.

In [4]:
tuple1=(1,2,3,4,5,"sandali")
tuple2=(4,5,6,7,8,"megha")
c=tuple1+tuple2
print(c)

(1, 2, 3, 4, 5, 'sandali', 4, 5, 6, 7, 8, 'megha')

Q5. Make a tuple of numbers. Use slicing to extract a sub-tuple containing the middle
three numbers.

In [8]:
a=(1,2,3,4,5,6,7,8,9)
b=a[3:6]
print(b)

(4, 5, 6)

Q6. Try to modify an element in a tuple and explain why it results in an error.

In [9]:
m=(1,2,3,4,5,6,7,8)   ###  Because tuple is immutable
m[5]=20
print(m)

TypeError: 'tuple' object does not support item assignment

Q7. Create a tuple of mixed data types (e.g., numbers and strings). Use the count()
method to count the number of occurrences of a specific element and the index()
method to find its position.

In [11]:
A=(2,4,6,7,8,"A","B","C","D")
i=0
for e in A:
    if i==A.index(e):
        print(e,'-',A.count(e))
    i+=1

2 - 1
4 - 1
6 - 1
7 - 1
8 - 1
A - 1
B - 1
C - 1
D - 1

Q8. Define two tuples with numbers. Write a program that compares the two tuples and
prints whether they are equal, not equal, or one is greater than the other.

In [1]:
m=input("enter any variable")
m=tuple(m.split(','))
print(type(m))

n=input("enter any variable")
n=tuple(n.split(','))
print(type(n))

if m>n:
    print("tuple m is greater than tuple n")
elif m==n:
    print("tuple m and tuple n both are equal ")
else:
     print("tuple m is smaller than tuple n")

enter any variable123
<class 'tuple'>
enter any variable456
<class 'tuple'>
tuple m is smaller than tuple n

Q9. Create a function that accepts a variable number of arguments and returns them as a
tuple. Then, call the function with different numbers of arguments.

In [11]:
m=input("enter any variable")
m=tuple(m.split(','))
print(m)

enter any variablen
('n',)

Q10. Make a tuple of names. Write a program that uses a loop to iterate through the
names and print each one

In [2]:
m=("nagpur" ,"bhusawal", "delhi", "jalgoan")
i=0
for e in m:
    if i==m.index(e):
        print(e)
        i+=1

nagpur
bhusawal
delhi
jalgoan

# Python assignment-7 Set

Q1. Create a set containing the names of your favorite animal.

In [36]:
set={"cat","tortise","cow","panda","poddle dogs","penguin"}
set

{'cat', 'cow', 'panda', 'penguin', 'poddle dogs', 'tortise'}

Q2. Create two sets of integers and perform set operations to find their union,
intersection, and symmetric difference. Print the results.

In [23]:
m={1,2,34,5,6,7}
n={5,6,7,8,9,4}
print("union:",m|n)
print("intersection:",m&n)
print("symmetric_difference:",m^n)

union: {1, 2, 34, 4, 5, 6, 7, 8, 9}
intersection: {5, 6, 7}
symmetric_difference: {1, 2, 4, 8, 9, 34}

Q3. Create a set of cities. Write a program that checks if a specific city is in the set and
prints a message indicating its presence or absence.Q

In [24]:
city={"nagpur","lonwala","jalgoan","bhusawal"}
if "jalgoan" in city :
    print("yes")
else:
    print("no")

yes

Q4. Create an empty set and add elements to it using the add() method. Print the set after
each addition.

In [13]:
emptyset=set()
emptyset.add(11)
print(emptyset)
emptyset.add(12)
print(emptyset)
emptyset.add(13)
print(emptyset)

{11}
{11, 12}
{11, 12, 13}

Q5. Given a set of numbers, remove a specific number from the set. Print the modified
set.

In [20]:
set={1,2,3,4,5}
print(set)
set.remove(5)
print("Modified set",set)

{1, 2, 3, 4, 5}
Modified set {1, 2, 3, 4}

Q6. Make two sets of words (strings) and find the words that are unique to each set (not
present in both sets). Print the results.A

In [19]:
set1={"cat","tortise","poddle dogs","cow"}
set2={"rabbit","cat","tortise","cow"}
m=set1-set2
print(m)
n=set2-set1
print(n)

{'poddle dogs'}
{'rabbit'}

Q7. Define two sets of numbers and determine if one set is a subset of the other. Print a
message indicating the relationship.

In [16]:
set1={1,2,3,4,5}
set2={2,3,4,5,6}
if set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is not subset of set1

Q8. Make two sets and use the update() method to add the elements from one set to
another. Print the updated set.

In [12]:
set1={"megha","manisha","disha","sakshi"}
set2={"bhagyashree","priti","kriti"}
set1.update(set2)
print(set1)

{'sakshi', 'megha', 'kriti', 'bhagyashree', 'disha', 'priti', 'manisha'}

Q9. Introduce a set of numbers and use a set comprehension to create a new set with
only the even numbers.

In [9]:
m={1,2,3,4,5,6,7}
n={i for i in m if i%2==0}
print(n)

{2, 4, 6}

Q10. Create a set of names. Write a program that uses a loop to iterate through the set
and print each name.

In [4]:
names={"panda","poddle dogs","penguin"}
for i in names:
    print(i)

panda
penguin
poddle dogs

# Python assignment-8 Dictionary

Q1. Create a dictionary that represents the information of a person, including name, age,
and city.

In [1]:
dict={"name":"megha","age":23,"city":"nagpur"}
dict

{'name': 'megha', 'age': 23, 'city': 'nagpur'}

Q2. Define a dictionary with information about a book (title, author, and year of
publication). Write a program to access and print these values.

In [10]:
Book={"Book title":"The Alchemist","Author":"Paulo Coelho","Year of Publication":1998}
for i in Book.items():
    print(i)

('Book title', 'The Alchemist')
('Author', 'Paulo Coelho')
('Year of Publication', 1998)

Q3. Make a dictionary with the names of cities as keys and their populations as values.
Add a new city to the dictionary and update the population of an existing city.

In [12]:
dict={"nagpur":7000000,"jalgoan":600000,"pune":8000000}
print(dict)
dict.update({"banglore":12200345})
print("new dict",dict)

{'nagpur': 7000000, 'jalgoan': 600000, 'pune': 8000000}
new dict {'nagpur': 7000000, 'jalgoan': 600000, 'pune': 8000000, 'banglore': 12200345}

Q4. Define a dictionary with keys representing months and values as the number of days
in each month. Write a program to print all the keys (months) in the dictionary.

In [14]:
year={"january":31,"february":28,"march":31,"april":30,"may":31,"june":30,"july":31,"august":31,"september":30,"octomber":30,"november":30,"december":31}
for i in year.keys():
    print(i)

january
february
march
april
may
june
july
august
september
octomber
november
december

Q5. Create a list of names and generate a dictionary where the keys are the names, and
the values are the lengths of the names

In [15]:
list=["megha","kajal","raju","rajkanya"]
dict={"megha":len("megha"),"kajal":len("kajal"),"raju":len("raju"),"rajkanya":len("rajkanya")}
print(dict)

{'megha': 5, 'kajal': 5, 'raju': 4, 'rajkanya': 8}

Q6. Make a dictionary with information about items and their prices. Write a program that
iterates through the dictionary and prints each item and its price

In [18]:
grocery_items={"almonds":600," dates":250,"walnuts":500,"cranberry":350}
for i in grocery_items.items():
    print( i)

('almonds', 600)
(' dates', 250)
('walnuts', 500)
('cranberry', 350)

Q7. Write a program that checks if a specific key is present in a dictionary and prints a
message indicating its presence or absence.

In [20]:
dict = {'a':600,'b':250,'c':500,'d':350}
m=input("Enter a key :")
if 'm' in dict.keys():
    print("it is present!!")
else:
    print("it is absent!!")

Enter a key :s
it is absent!!

Q8. Define a dictionary with words as keys and their lengths as values. Sort the dictionary
based on the values and print the sorted results.

In [24]:
dict={"megha":len("megha"),"kajal":len("kajal"),"raju":len("raju"),"rajkanya":len("rajkanya")}
print(dict)
print("\n the values in decending order:\n")
for values in sorted(dict.values()):
    print(values)

{'megha': 5, 'kajal': 5, 'raju': 4, 'rajkanya': 8}

 the values in decending order:

4
5
5
8

Q9. Assume a dictionary representing the scores of students in a class. Write a program
to print the student names, their scores, and calculate the class average.

In [29]:
students={"megha":[90,80,60],"sakshi":[60,70,90],"sandali":[60,60,70],"anushka":[70,80,60]}
names=input("Enter names of students:")
if names in students.keys():
    scores=students[names]
    average_score=sum(scores)/len(scores)
    print("Average of",names,":",average_score)
    total_scores=[]
    for scores in students.values():
        total_scores.extend(scores)
    class_average=sum(total_scores)/len(total_scores)
    print("class average is:", class_average)
else:
    print("no record found")

Enter names of students:megha
Average of megha : 76.66666666666667
class average is: 70.83333333333333

Q10. Create a nested dictionary to represent a library catalog with books and their details
(title, author, and publication year). Write a program to access and print the information
for a specific book

In [7]:
librabry_catlog={"the alchemist":{"paulo coelho":1998},"igikai":{"Hector gracia":2021}}
names=input("Enter the names of book:")
if names in librabry_catlog.keys():
    print(librabry_catlog[names])
else:
    print("no data found")

Enter the names of book:the alchemist
{'paulo coelho': 1998}